
body {
    font-family: 'Walter Turncoat', sans-serif;
}

#content {
    position: absolute;
    
    left: 50%;
    top: 50%;
    width: 900px;
    height: 580px;
    margin-left: -450px;
    margin-top: -290px;
}

.cover {
    display: none;
    width: 900px;
    height: 420px;
}
.cover:hover {
    cursor: pointer;
}
.cover.current {
    display: block;
}

#panel {
    width: auto;
    height: 120px;
    padding: 20px;
    font-size: 24pt;
    color: #FFF;
    background-color: #282828;
}

#page-indicator {
    padding: 0;
    font-size: 10pt;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px 0 5px;
    border-radius: 4px;
    background-color: #8999A6;
}
/*
.dot:hover {
    cursor: pointer;
}
*/
.dot.current {
    background-color: #FFF;
}